<div class="w-full sm:w-1/2 max-w-sm mx-auto sm:px-4 {{ classes|default('') }}">
    <div class="px-4 py-4 h-full border border-white transition shadow-md hover:shadow-lg bg-{{ color }}-200-90 hover:bg-{{ color }}-200 rounded">
        <h4 class="mb-4 text-xl text-{{ color }}-500 text-center uppercase leading-none">{{ title }}</h4>
        <hr class="mb-4 border-white">
        <a class="inline-block mb-2 tracking-wide transition opacity-50 hover:opacity-75" href="{{ linkUrl }}">{{ linkTitle }}</a>

        {% block content %}{% endblock %}
    </div>
</div>
